<div class="car card-body p-4 rounded-0 bg-dark text-white">
    <h4>Agregar Celular</h4>
    <form action="/celulares/agregar" method="POST">
    <div>
        <label for="clave">Escribe la clave</label>
        <input type="text" name="clave" placeholder="clave" id="clave"
        class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="marca">Escribe marca del celular</label>
        <input type="text" name="marca" placeholder="marca" id="marca"
        class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="precio">Escribe el precio del celular</label>
        <input type="number" name="precio" placeholder="precio" id="precio"
        class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="fechaLanzamiento">Selecciona la fecha de lanzamiento</label>
        <input type="date" name="fechaLanzamiento" placeholder="fechaLanzamiento" id="fechaLanzamiento"
        class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="ram">Escribe la RAM del celular</label>
        <input type="text" name="ram" placeholder="ram" id="sexo"
        class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="almacenamiento">Escribe la cantidad de almacenamiento</label>
        <input type="text" name="almacenamiento" placeholder="almacenamiento" id="almacenamiento"
        class="form-control bg-dark text-white"/>
    </div>
    <div>
        <label for="cantCamaras">Escribe la cantidad de camaras del celular</label>
        <input type="number" name="cantCamaras" placeholder="cantCamaras" id="cantCamaras"
        class="form-control bg-dark text-white"/>
    </div>
    <br/>
    <button class="btn btn-success btn-sm mt-2">Agregar</button>
    <br/>
    <br/>        
</form>
</div>